.aboutus-page {
    width: 90%;
    margin: auto;
}
.aboutus-container h1{
    margin: 3rem 0px;
}

.header-img{
    margin-bottom: 5rem;
}



.text-containers{
    background-color: var(--bright-color);
    border-radius: 6px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.sammarbete-container {
    background-color: var(--bright-color); 
    padding: 2rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 2rem; 
    justify-items: center;
}

.sammarbete-logo img {
    width: 100px; 
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.kundansvariga-img{
   border-radius: 50%;
   width: 20rem; 
   
}
.img-container{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    position: absolute;
    bottom: 50rem;
    left: 6rem;
    gap: 2rem;
}

