

.input-container {
    margin-bottom: 2rem; 
   

  }
  
  .input-label {
    font-size: var(--fontSizeXS);
    color: var(--primary-dark);  
    margin-bottom: 5px; 
    width:100% ;
     
  }

  form{
    width: 100%;
  }

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: var(--bright-color);
    padding: 4rem 2rem 4rem 2rem;
    margin: auto;
    border-radius: var(--border-radius);
    margin-bottom: 5rem ;

}

.input-login {
  background-color: var( --white-color);
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  border: none;
  font-size: var(--fontSizeXS);
}



h2 {
  margin: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--headingFont);
  font-weight: bold;
  font-size: var(--fontSizeXL);
}

h3 {
    font-size: var(--fontSizeMD);
    font-family: var( --subHeadingFont);
    font-weight:500;
    margin: 0 0 1.5rem 0; 
    align-self: flex-start; 
}

.login-link {
  text-decoration: underline;
  color: var(--primary-dark);
  margin-bottom: 0;
  font-family: var(--bodyFont);
  font-size: var(--fontSizeXS);
}

.login-btn {
    background-color: var(--primary-green);
    padding: 1rem 3rem;
    border-radius: 48px;
    text-align: center;
    font-size: var(--fontSizeXS);
    margin: 0 auto;
    margin-top: 4rem;
    display: block;
    color: white;

}


@media (min-width: 769px) {
    .login-container {
        width: 40%; 
       
    }
}