.nav {
  &.desktop {
    display: none;
    li .nav-link {
      border-bottom: none;
      padding: 0rem;
      margin-inline-end: 1.6rem;
    }
  }
  &.categories {
    display: grid;
    grid-template-columns: 1fr;
  }
  li {
    max-width: 100%;
  }
  li .nav-link {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    border-bottom: 1px solid var(--bright-color);
    color: var(--primary-dark);
    text-transform: uppercase;
  }
}
