.progress-tracker {
    display: flex;
    justify-content: space-between;
    margin: 8rem 0 0 0;
    padding: 0;
    list-style-type: none;
    counter-reset: step;
    background-color: var(--white-color);
}

.step {
    position: relative;
    text-align: center;
    flex-grow: 1;
    padding: 1rem;
    color: #999; /* Standard color for future steps */
}

.step-link {
    text-decoration: none;
    color: inherit; /* Inherit color for both number and label */
}

.step-number {
    counter-increment: step;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    background-color: #ccc; /* Default background for future steps */
    color: white; /* Number color set to white */
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}

.step-label {
    display: block;
    margin-top: 5px;
}

.step.active .step-number {
    background-color: var(--primary-lightgreen); /* Circle background color for active step */
    color: white; /* Ensure number in active step remains white */
}

.step.active .step-label {
    color: var(--primary-lightgreen); /* Label color for the active step */
}

.step.completed .step-number {
    background-color: var(--primary-green); /* Circle background for completed steps */
    color: white; /* Ensure the number remains white for completed steps */
}

.step.completed .step-label {
    color: var(--primary-green); /* Label color for completed steps */
}

.step.completed {
    border-bottom: 2px solid var(--primary-green); /* Underline for completed steps */
}
