.search-container {
  position: relative; /* Position for dropdown */
  color: #000;
  max-width: 400px; /* Maximum width for larger screens */
  width: 100%; /* Full width on smaller screens */
  margin: 0 auto; /* Center the search bar */
}

.dropdown-list {
  position: absolute; /* Position dropdown */
  top: 100%; /* Below the input */
  left: 0;
  border: 1px solid #ccc; /* Border for dropdown */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding for dropdown */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  z-index: 1000; /* Ensure it's on top */
  width: 100%; /* Full width of search bar */
  background-color: var(#fafafa); /* White background */
}

.dropdown-list h2 {
  font-size: 15px;
  text-align: left;
  margin-left: -2px;
  margin-top: 5px;
}
.dropdown-list ul {
  list-style: none; /* Remove bullets */
  padding: 0;
  margin: 0; /* Reset margins */
}

.dropdown-list li {
  cursor: pointer; /* Pointer cursor for list items */
  padding: 10px; /* Increased padding for better touch targets */
  transition: background-color 0.3s; /* Smooth background transition */
}

.dropdown-list li:hover {
  background-color: #f0f0f0; /* Change background on hover */
}

/* Filter Styles */
.product-wrapper {
  padding: 20px; /* Padding for product wrapper */
}

.filter-wrapper {
  margin-bottom: 20px; /* Space below filter wrapper */
}

.filter-group {
  margin-right: 15px; /* Space between filter groups */
}

.filter-button {
  color: black; /* Button text color */
  border: 1px solid black; /* Button border */
  padding: 10px; /* Button padding */
  cursor: pointer; /* Pointer cursor for button */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background transition */
}

.filter-button:hover {
  background-color: #f0f0f0; /* Background change on hover */
}

.dropdown-menu {
  border: 1px solid #ccc; /* Border for dropdown menu */
  padding: 10px; /* Padding for dropdown menu */
  border-radius: 5px; /* Rounded corners */
  margin-top: 5px; /* Space above */
  max-height: 200px; /* Maximum height */
  overflow-y: auto; /* Scroll if too tall */
}

.reset-button {
  background-color: #dc3545; /* Red background for reset */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px; /* Padding for button */
  cursor: pointer; /* Pointer cursor for button */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background transition */
}

.reset-button:hover {
  background-color: #c82333; /* Darker red on hover */
}

/* Stil för sökfältet */
.navbar-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-search input {
  flex-grow: 1; /* Gör så att input tar upp maximalt utrymme */
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #6E775E;
  background-color: transparent; /* Gör bakgrunden transparent för en minimalistisk look */
}

.navbar-search .search-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #6E775E;
}

.navbar-search .close-search {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  color: #6E775E;
  cursor: pointer;
}

.navbar-search .close-search:hover {
  color: #333;
}
