.search-container {
    position: relative; /* Gör så att dropdown-listan placeras relativt till search-container */
    color: #000;
    width: 20%;
}

.dropdown-list {
    position: absolute; /* Gör så att dropdown-listan positioneras absolut */
    top: 100%; /* Placera dropdown direkt under inputfältet */
    left: 0;
    background: white;
    border: 1px solid #ccc; /* Lägg till en kantlinje */
    border-radius: 8px; /* Rundade hörn */
    padding: 10px; /* Lite padding inuti dropdown-listan */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Skugga för att ge djup */
    z-index: 1000; /* Se till att den ligger ovanpå andra element */
    width: 100%; /* Gör så att den tar hela bredden av sökfältet */
}

.dropdown-list ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Rensa standardmarginaler */
}

.dropdown-list li {
    cursor: pointer; /* Ändra muspekaren när man hovrar över sökord */
    padding: 5px 10px; /* Padding för varje listpunkt */
}

.dropdown-list li:hover {
    background-color: #f0f0f0; /* Ändra bakgrundsfärg vid hover */
}


/* FILTER */
.product-wrapper {
    padding: 20px;
  }
  
  .filter-wrapper {
    margin-bottom: 20px;
  }
  
  .filter-group {
    margin-right: 15px;
  }
  
  .filter-button {
    
    color: black
    
    ;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-menu {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .reset-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }