.services-page {
    width: 90%;
    margin: auto;
    justify-content: center; /* This is useful if the parent is flex or grid */
  }
  
  /* Centering the services container */
  .services-container {
      text-align: center;
      margin-top: 2rem;
      position: relative;
      width: 100%;
      height: auto;
      max-width: 500px;
      margin-left: auto; /* Centering horizontally */
      margin-right: auto; /* Centering horizontally */
      padding-left: 1rem; /* Optional: Add some padding for better spacing */
      padding-right: 1rem; /* Optional: Add some padding for better spacing */
  }
  
  .services-container img {
      width: 100%;
      border-radius: 50%; 
     margin: 2rem 0;
      
  }
  
  .services-container img:nth-child(2) {
      position: absolute;
      width: 15rem; 
      height: 15rem; 
      border-radius: 50%; 
      top: 65%; /* Adjust position from the top */
      left: 15%; /* Center horizontally */
      transform: translate(-50%, -50%); /* Center the image perfectly */
  }
  
  .services-container p {
      font-size: var(--fontSizeLG);
      color: var(--primary-green); 
      margin-top: .5rem;
      margin-left: auto; /* Centering horizontally */
      margin-right: auto; /* Centering horizontally */
  }
  