.services-page{
  width: 90%;
  margin: auto;
}

.services-container {
    text-align: center;
    margin-top: 2rem;
    position: relative;
}


.services-container img {
    width: 100%;
    border-radius: 50%; 
    margin-top: 5rem;
}
.services-container img:nth-child(2) {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    
}

.services-container p {
    font-size: var(--fontSizeLG);
    color: var(--primary-green); 
    margin-top: .5rem;
    margin-left: 30rem;
}