html {
    scroll-behavior: smooth;
  }

.stanley-container {
    width: 100%;
    margin: auto;
    margin: 2rem 0;
}

.stanley {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 90%;
    max-width: 1200px; 
    margin: auto; 
}

.stanley-text-container {
    width: 100%; 
    max-width: 500px; 
    text-align: left; 
    margin: 0 auto;
    padding: 1rem; 
}

.carousel-container {
    position: relative;
    width: 100%;
}

.image-carousel {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    gap: 0.5rem; 
    padding: 1rem; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    background-color: #f8f8f8; 
    border-radius: 6px; 
}

.image-carousel::-webkit-scrollbar {
    display: none; 
}

.image-carousel img {
    width: 15rem; 
    height: auto; 
    border-radius: 6px; 
    object-fit: cover; 
    scroll-snap-align: start;
    transition: transform 0.2s; 
}

.image-carousel img:hover {
    transform: scale(1.03);
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    border: none;
    color: white;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}



.benefits-list {
    display: flex; 
    flex-direction: column; 
    margin: 1rem 0;
    align-items: center; 
}

.benefit-item {
    margin: 0.5rem 0; 
}

@media (min-width: 768px) {
    .stanley {
        width: 80%;
    }
    
    .image-carousel img {
        width: 30rem; 
    }
    
    .benefits-list {
        flex-direction: row; 
        justify-content: space-around; 
        width: 100%; 
    }
}
