.stanley-page{
    margin: auto;
}

.stanley-image{
    margin-top: 5rem   ;
    height:100rem;
}

.stanley-container{
    position: relative;
}

.stanley-container p {
    font-size: var(--fontSizeSM);
    color: var(--primary-dark); 
    width: 90%;
    padding: 4rem;
}

.stanley-container-p{
    position: absolute;
    bottom: 45rem;
    left: 4rem;
    right: 4rem;
    background-color: var(--bright-color);
    border-radius: 1.5rem;
    box-shadow: 0rem .2rem 1rem 0rem black;
}

.Circular-image{
    border-radius: 50%;
    margin-left: 25rem;
    margin-top: 7.5rem;
    margin-bottom: -5rem;
}